body {
    font-family: 'Montserrat Alternates', 'Ubuntu', sans-serif;
}

p {
    font-weight: 600;
    color: #5a5a5a;
}

h1 {
    font-family: 'Montserrat Alternates';
    font-weight: bolder;
    font-size: 3.5rem;
    line-height: 1.5;
}

h2 {
    font-family: 'Montserrat Alternates';
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 600;
}

h3 {
    font-family: 'Montserrat Alternates';
    font-size: 2rem;
    font-weight: bold;
}


/* Title Section */

#title {
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid {
    padding: 2% 10% 7%;
}

.t-img {
    transform: rotate(25deg);
    position: absolute;
    right: 20%;
}

.t-head {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
    font-weight: 800;
}
.t-btn {
    margin: 10px 50px 0 0;
}

/* Feature Section */

#features {
    padding: 7.5% 10%;
    background-color: #fff;
    position: relative;
}

.f-box {
    text-align: center;
    padding: 5%;
}

.f-icon {
    color: #ff4c68;
}

.f-icon:hover {
    color: #df0021;
}


/* Navigation Bar */

.navbar {
    padding: 0 0 1.5rem;
}

.navbar-brand {
    font-family: 'Ubuntu', sans-serif;
    font-size:2.5rem;
    font-weight: bold;
    padding: 0;
}

.navbar-nav {
    padding: 0 20px;
}

.nav-link {
    font-family: 'Montserrat Alternates', sans-serif;
    font-size: 1.25rem;
    font-weight: bold;
}


/* Testimonial Section */

#testimonials {
    text-align: center;
    background-color: #ff4c68;
    color: #fff;
}

.testimonial-img {
    border-radius: 100%;
    width: 10%;
}

em {
    font-weight: 500;
    color: #fff;
}
.carousel-item {
    padding: 3.5% 15%;
}


/* Press Section */

#press {
    padding-bottom: 3%;
    background-color: #ff4c68;
    text-align: center;
}

.press-img {
    margin: 20px 40px;
    width: 12.5%;
}

/* Pricing Section */
#pricing {
    text-align: center;
    padding: 5% 7.5%;
}

.pricing-col {
padding: 3% 2%;
}
.price-tag {
    font-size: 2rem;
}


/* Footer Section */
#cta {
    text-align: center;
    background-color: #ff4c68;
    padding: 7% 0;
    color: #fff;
}
.cta-btn {
    margin: 25px 12.5px;
}
.cta-heading {
    font-family: 'Montserrat Alternates';
    font-size: 3rem;
    line-height: 1.5;
}
#footer {
    text-align: center;
    padding: 1% 0;
}
.footer-icon {
    color: #ff4c68;
    margin: 10px 20px;
}
.footer-icon:hover {
    color: #df0021;
}

@media (max-width: 1110px) {

    #title {
        text-align: center;        
    }
    .t-img {
        width: 75%;
        position: static;
        transform: rotate(0deg);
    }
    h1 {
        font-size: 3rem;
    }
    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 1.5rem;
    }
    .press-img {
    margin: 1.25% 2.5%;
    width: 15%;
}
}

